<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
	  <globalization uiCulture="es-GT" culture="es-GT" />
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
	  <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="3600000"/>
    <sessionState timeout="20"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="NoSistema" value="509"/>
    <add key="palClave" value="Prmer!c@"/>
    <add key="pathCef" value="\\App_Data\\promerica.cef"/>
    <add key="conexion" value="desarrollo_TCQA11"/>
    <add key="palEncrypt" value="Ac3d1Tci0nIM#19"/>
	  <!--desarrollo 
    <add key="strURLVisa" value="https://admin.neolink.devneonet.com.gt"/>
    <add key="strKey" value="24dd6249787d91870bf89b36fae4307bcbd21226"/>
    <add key="strUsuVisa" value="julio.rosales@bancopromerica.com.gt"/>
    <add key="strClaveVisa" value="Dev23Visa!"/>
	<add key="strDominio" value="adc_bodz-shortl.promerica.com.gt"/>
	  <add key="strServer" value="http://10.16.17.121"/>
	  <add key="apikey" value="ApiSL2025"/>	  
    <add key="Environment" value="Development"/> -->
	  
	  <!--20260801.ini: Lander Montenegro-->
	  <!--produccion -->
	  <add key="strURLVisa" value="https://admin.neolink.com.gt" />
	  <add key="strKey" value="24dd6249787d91870bf89b36fae4307bcbd21226"/>
	  <add key="strUsuVisa" value="backofficeit@bancopromerica.com.gt"/>
	  <add key="strClaveVisa" value="B4nc0Pr0m3r!c4"/>
	  <add key="strDominio" value=""/>
	  <add key="strServer" value="https://lc.promerica.com.gt"/>
	  <add key="apikey" value="ApiSL2025"/>
	  <add key="Environment" value=""/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true"/>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>